
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/layout.css">
  <title>Document</title>
</head>
<body>
  <div id="header">
    <div class="header-title">Create Your Blogs</div>
    <div id="header-elements">
      <ul >
       <a href="/"> <li>Home</li></a>
      <a href="/about">  <li>About </li></a>
       <a href="/createpost"> <li>Create Blog</li></a>
      </ul>
    </div>
  </div>
  <div id="view-posts">
    <a href="/viewposts"><button>View Posts</button></a>
  </div>
</body>

<%- include('footer.ejs') %>
</html>